@font-face {
    font-family: Poppins;
    src: url(Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: PoppinsSemi;
    src: url(Poppins/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: PoppinsMedium;
    src: url(Poppins/Poppins-Medium.ttf);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: #dde4f9;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: #110b2b;
    gap: 20px;
}

.container {
    position: relative;
    z-index: 3;
    height: 600px;
    width: 650px;
    padding: 50px;
    border-radius: 53px;
    background: #dde4f9;
    box-shadow: 7px 7px 18px #d2d9ed,
        -7px -7px 18px #e8efff;
    display: flex;
    flex-direction: column;
    margin-top: 9vh;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 650px;
    height: 60px;
    gap: 30px;
    margin-top: 20px;
}

button {
    font-family: 'PoppinsSemi', sans-serif;
    font-size: 16px;
    flex-grow: 1;
    border-radius: 15px;
    border: none;
    color: #1a233a;
    position: relative;
    cursor: pointer;
    background: #dde4f9;
    box-shadow: 6px 6px 17px #ced4e8, -6px -6px 17px #ecf4ff;
}

h1 {
    font-size: 32px;
    margin: 10px 0;
}

hr {
    border: 1px solid rgba(71, 63, 175, 0.07);
    width: 100%;
}

table {
    width: 100%;
    color: #252525;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

tr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: inherit;
    flex-grow: 1;
}

th h2 {
    font-size: 24px;
}

th {
    width: calc(100% / 7);
}

td {
    width: calc(100% / 7);
    height: 100%;
}

td h4 {
    text-align: center;
}

tbody {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.extra {
    color: #aeb6cf !important;
    font-weight: lighter;
}

/* Adjusted button positions */
#previousMonth {
    margin-left: 20px;
}

#today {
    width: 100px;
}

#nextMonth {
    margin-right: 20px;
}

/* Added button hover and active styles */
button:hover {
    background-color: #d1dbf7;
}

button:active {
    background-color: #4815b8;
}

/* Centered today button text */
#today span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.next {
    position: absolute;
    right: 40%;
    top: 28%;
    width: 24px;
    height: 24px;
    /* padding: 4px; */
    background-image: url(angle-right-solid.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.previous {
    position: absolute;
    right: 40%;
    top: 28%;
    width: 24px;
    height: 24px;
    /* padding: 4px; */
    background-image: url(angle-left-solid.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

}

@media screen and (max-width: 760px) {

    .container {
        height: 60%;
        width: 70%;
        padding: 30px;
        margin-top: 6vh;
    }

    .buttons {
        width: 80%;
        margin: 0;
        gap: 10px !important;
    }

    h4 {
        font-size: 12px !important;
        margin: 5px;
    }

    h2 {
        font-size: 14px !important;
    }

    h1 {
        font-size: 24px !important;
    }

    td {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .buttons button {
        flex-basis: 40px !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    button:nth-child(2) {
        flex-basis: 60px !important;
    }

    #today {
        display: flex;
        flex-grow: 1;
    }
}
}